#app{
    max-width:  100%;
    padding-left: 0;
    padding-right: 0;
    
    opacity: 0.9;
}
#user{
    width: 30vh;
    height: 30vh;
    display:block;
    margin:auto;
}

#conterti{
    max-width:  100%;
    opacity: 1!important;

    background-color: #fff0f0 !important;
    background-image: url("https://www.transparenttextures.com/patterns/tileable-wood-colored.png");
    
    
    

}
#conterti2{
    

 background-color: white!important;
    
    

}

body{
   
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/xv.png");

}

header{
    width: 100%;
}
